html {
  position: relative;
  min-height: 100%;
}
body {
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

a{
	text-decoration: none;
}
/*.hidden {
    display: none !important;
    visibility: hidden !important;
}*/
.header{
	position: relative;
    margin-top: 14px;
    padding-bottom: 22px;
}
.container{
	max-width: 1260px;
}
.container .row{
	margin-right: 0; 
    margin-left: 0; 
}
.container .news-and-articles .row {
	flex-wrap: nowrap;
}
.container .row .col-9, .news-and-articles .col, .col-lg, .col-lg-6,.col{
	padding-right: 0;
	padding-left: 0;
}
/*Меню*/
.bg-light {
    background-color: #fff!important;
}
.dropdown-toggle::after {
    display:none
}
.navbar .navbar-collapse{
    justify-content: flex-end;
}
.navbar .navbar-collapse .navbar-nav{
	font-size: 18px;
	font-family: "Raleway", sans-serif; 
	line-height: 21px;
    color: #000000;
}
.navbar .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu{
    padding: 0;
    margin: 0;
    border: none;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item {
    padding-left: 1rem;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #0277bd;
    background-color: #fff;
    /*border-bottom: 1px solid rgba(2,119,189,.3);
    padding-bottom: 1px;*/
}
.navbar-light .navbar-nav a:hover{
  /*  border-bottom: 1px solid rgba(2,119,189,.3);*/
}    
.navbar-light .navbar-nav .nav-link:hover{
	color: #0277bd;
	border-bottom: 1px solid rgba(2,119,189,.3);
	padding-bottom: 1px;
}

/*Финансовый супермаркет*/
.fin-market{
    font-family: "Raleway", sans-serif; 
    color: #000;
}
.fin-market .content{
	background: linear-gradient(180deg,#e4f1ff 0,#fff);
	padding: 32px 15px 32px 15px;
}
.fin-market h1{
	font-size: 32px;
    line-height: 40px;
	font-weight: 600;
}
.fin-market span {
	margin-top: 5px;
    font-size: 18px;
    line-height: 24px;
}
.fin-market .items-finance {
    padding-top: 33px;
}
.fin-market .items-finance .desc-finance{
	font-size: 14px;
}
.fin-market .items-finance .img-finance{
	height: 64px;
	position:relative;
}
.fin-market .items-finance .img-finance img {
	max-width: 100%;
	max-height: 100%;
}
.fin-market .items-finance .title-finance{
	margin-top: 13px;
}
.fin-market .items-finance .title-finance a{
	color: #0277bd;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.fin-market .items-finance .title-finance a:hover{
	text-decoration: none;
    border-bottom: 1px solid #b6d3d8;
    cursor: pointer;
}

@media (min-width: 1281px) {
.fin-market .items-finance .how-it-work .img-finance img{
	opacity: 0;
}
.fin-market .items-finance .how-it-work .img-finance:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 215px;
    height: 127px;
    background: url("../images/creditslaptop.png") 0 0 /contain no-repeat transparent;
	}
}

.post-img {
	color:#ffffff;
}
.post-img:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: ease 0.2s all;
    z-index: 2;
}
.post-img:hover:before{
    background-color: rgba(0,0,0,0.2);
}
 
.fin-market h4{
	font-size: 22px;
    color: #505050;
    text-decoration: none;
    line-height: 24px;
    padding: 0 0 6px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif ;
    font-weight: 700;
}
.news-main-img{
	margin: 0 0 20px 0;
}
.main-new{
	min-width: 466px;
    height: 311px;
    overflow: hidden;
    position: relative;
    margin: 0 0 1px 0;
    background-image: url("../images/bl1_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.secondary-new{
	overflow: hidden;
    position: relative;
    margin: 0 0 1px 0;
    height: 155px;
}

.news-main-img .secondary-new {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.news-main-img .secondary-new:nth-child(1){
	background-image: url("../images/bl1_2.jpg");
}
.news-main-img .secondary-new:nth-child(2){
	background-image: url("../images/bl1_3.jpeg");
}
.news-main-img .secondary-new:nth-child(3){
	background-image: url("../images/bl1_3.jpg");
}
.news-main-img .secondary-new:nth-child(4){
	background-image: url("../images/bl1_4.jpg");
}
.news-main-img a:hover{
	color:#ffffff;
	text-decoration: none;	
}
.news-main-img .col-lg-6, .news-main-img .col-md-3{
	padding-right: 0;
	padding-left: 0;
}
.gradient-info{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background-color: rgba(0,0,0,0.6);
    transition: ease 0.1s all;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 20px 10px 20px;
    bottom: 0;
}
.container .news-and-articles{
	padding-right: 0;
	padding-left: 0;
}

.news-and-articles .last-news{
	margin-left: 30px;
}
.news-and-articles .last-news .allnewsday {
    height: 40px;
    line-height: 20px;
    color: #5a7dab;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
}
.article{
	margin: 10px 0 30px 0;
	height: 421px;
	overflow: hidden;
}
.img-article{
	width: 210px;
    height: 140px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fin-articles .first-column{
	margin-right:30px;
}
.fin-articles .col-lg-6:nth-child(1) .article:nth-child(1) .img-article{
	background-image: url("../images/bl2_1.jpg");
}
.fin-articles .col-lg-6:nth-child(1) .article:nth-child(2) .img-article{
	background-image: url("../images/bl2_2.jpeg");
}
.fin-articles .col-lg-6:nth-child(1) .article:nth-child(3) .img-article, .fin-articles .col-lg-6:nth-child(1) .article:nth-child(4) .img-article, .fin-articles .col-lg-6:nth-child(1) .article:nth-child(5) .img-article, .fin-articles .col-lg-6:nth-child(1) .article:nth-child(6) .img-article {
	background-image: url("../images/bl2_1.jpg");
}
.fin-articles .col-lg-6:nth-child(2) .article:nth-child(1) .img-article{
	background-image: url("../images/bl2_21.jpg");
}
.fin-articles .col-lg-6:nth-child(2) .article:nth-child(2) .img-article{
	background-image: url("../images/bl2_22.jpeg");
}
.fin-articles .col-lg-6:nth-child(2) .article:nth-child(3) .img-article, .fin-articles .col-lg-6:nth-child(2) .article:nth-child(4) .img-article, .fin-articles .col-lg-6:nth-child(2) .article:nth-child(5) .img-article, .fin-articles .col-lg-6:nth-child(2) .article:nth-child(6) .img-article {
	background-image: url("../images/bl2_1.jpg");
}

.main-news-title{
	font-size: 20px;
    line-height: 24px;
    max-height: none;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
}
.news-title{
	font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
}
.block-news-and-articles .row {
	margin-right: 0; 
    margin-left: 0; 
}
.fin-articles .col {
	padding-right: 0;
	padding-left: 0;
}
.fin-articles .col:first-child{
	margin-right: 30px;
}
.news-and-articles{
	font-family: "PT Sans",sans-serif;
}
.title-aticle{
	margin: 0 0 10px 0;
    padding: 20px 0 0 0;
}
.title-aticle a{
	font-size: 18px;
	font-weight: bold;
    line-height: 20px;
    color: #303030;
}
.title-aticle a:hover{
	color: #5a7dab;
    text-decoration: none;
}
.date-create-article{
	color: #aaa;
    font-size: 10px;
    text-transform: uppercase;
    height: 12px;
    margin: 0 0 10px 0;
}
.story-article{
	font-size: 14px;
	line-height: normal;
}
a:hover{
	color: #5a7dab;
	text-decoration: none;
}
a .new{
	padding: 10px 0 10px 50px;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    text-decoration: none;
    position: relative;
    transition: 0.2s all;
}
a .new:after{
	position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #5a7dab;
    content: "";
    display: block;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}
a .new:hover:after {
    width: 100%;
}
a .new{
	color:#000;
}
.last-news .time-last-new{
	margin: 0 0 0 -50px;
    font-size: 16px;
    color: #5a7dab;
}
.last-news .title-last-new{
	color: #303030;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    margin-left: 20px;
}
a .new:hover .title-last-new{
 	color: #5a7dab;
	text-decoration: none;
}
.flex-fixed-width-item {
    flex: 0 0 300px;
    padding: 0;
}
.addsense{
	width: 300px;
	height: 600px;
	background-position: 100% 100%;
}
.addsense:first-child{
	background-image: url();
}
.img-article{
	position: relative;
}

.article:hover .post-img:before {
    background-color: rgba(0,0,0,0.2);
}

.sidebar-block-nomobil .news-stories-top-content .news-stories-img{
	width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
.news-content .left{
	margin-right: 15px;
}
.sidebar-block-nomobil .news-stories-top-content{
	width: 100% !important;
    height: auto;
    margin: 0 0 20px 0;
} 
.sidebar-block-nomobil .news-stories-top-content .news-stories-img{
	background-image: url("../images/img1_right.jpg");
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sidebar-block-nomobil .title-top-content{
	overflow: hidden;
}
.sidebar-block-nomobil .title-top-content a{
	font-size: 16px;
    line-height: 20px;
    color: #303030;
}
.sidebar-block-nomobil .title-top-content a:hover{
    color: #5a7dab;
    text-decoration: none;
}

.news-stories-img .post-img:before {
	content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: ease 0.2s all;
    z-index: 2;
}
.news-stories-img .post-img:hover:before {
    background-color: rgba(0,0,0,0.2);
}
.news-stories-top-content:hover .post-img:before {
    background-color: rgba(0,0,0,0.2);
}

.stories-counts {
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: -30px;
    left: 0;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 3;
}

.stories-views {
    background-color: #5a7dab;
    background-position: -70px 11px;
    height: 30px;
    float: left;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    padding: 10px 5px 8px 5px;
    position:relative;
}   

.article:hover .stories-counts, .news-stories-top-content:hover .stories-counts{
    bottom: 0;
} 
.fa-eye {
	margin-right: 0.25rem;
}


/*НОВОСТИ ДЕТАЛЬНО*/
.news-detail{
	font-family: "PT Sans", sans-serif;
	
}

.post-content {
    font-size: 16px;
    color: #202020;
    margin-bottom: 10px;
}

.title-news-detail{
	font-size: 36px;
    color: #202020;
    text-decoration: none;
    line-height: 40px;
    margin-bottom: 15px;
    position: relative;
}
.title-news-detail h1{
	font-size: 36px;
    line-height: 40px;
    display: inline;
    font-weight: 700;
}

.news-detail img {
    max-width: 100%;
    padding: 0 0 10px 0;
    height: auto !important;
}

/*ВСЕ НОВОСТИ*/
 .content-all-page .col-lg-12, .content-all-page .col-xl-8{
    padding-left: 0;
}

.all-news .short-story{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;

}

.all-news .post-img {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
}    

.all-news .post-img:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: ease 0.2s all;
    z-index: 2;
}

.all-news .post_img:hover:before {
    background-color: rgba(0,0,0,0.2);
}   

.all-news .short-post {
    width: 180px;
    height: 120px;
    float: left;
    margin: 0 25px 0 0;
    background-size: cover;
    background-position: center center;
}

.all-news .short-story:hover .gradient-info {
    bottom: 0;
}    

.all-news .gradient-info {
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    position: absolute;
    bottom: -24px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: ease 0.1s all;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 20px 10px 20px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    background-color: rgba(0,0,0,0.6);
}

.all-news .short-story .news-date {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    height: 12px;
    margin: 0 0 10px 0;
}

.all-news .short-story .news-counts {
    font-size: 11px;
    margin-top: 10px;
    height: 14px;
    line-height: 14px;
}

.all-news .short-post-content {
    overflow: hidden;
}

.all-news .short-post-content .title-shot-post {
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #202020;
    margin: 0 0 15px 0;
}
.all-news .title-shot-post a {
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: ease 0.1s all;
    color: #202020;
    font-size: 20px;
}
.all-news .title-shot-post a:hover {
    color: #5a7dab;
}

.all-news .short-story-post {
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    max-height: 59px;
}

.all-news .short-story .short-post{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.all-news .short-story:nth-child(1) .short-post{
    background-image: url("../images/allnews_img1.jpg");
}
.all-news .short-story:nth-child(2) .short-post{
    background-image: url("../images/allnews_img2.jpg");
}
.all-news .short-story:nth-child(3) .short-post{
    background-image: url("../images/allnews_img3.jpg");
}
.all-news .short-story:nth-child(4) .short-post{
    background-image: url("../images/allnews_img4.jpg");
}
.all-news .short-story:nth-child(5) .short-post{
    background-image: url("../images/allnews_img5.jpg");
}

.adsense {
    padding: 0 0 30px 0;
}

/*Страница product общее*/
.page-product .col-lg-8, .kredit-nal .col-lg-8{
    padding-left: 0;
}
.page-product ul, .kredit-nal ul .kredit-karta ul{
    margin-top: 0;
    margin-bottom: 10px;
}

/*хлебные крошки*/
.breadcrumbs-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    padding-left: 13px;
}
.breadcrumbs-item {
    position: relative;
    font-size: 12px;
    color: #7c7e82;
    white-space: nowrap;
}
.breadcrumbs-link {
    display: flex;
    align-items: center;
    color: #7c7e82;
    font-size: 12px;
    white-space: nowrap;
}
.breadcrumbs-link::after {
    display: inline-block;
    content: ' ';
    background: no-repeat center / contain url(../images/arrow-right.svg);
    height: 10px;
    width: 10px;
    margin: 0 5px;
}
.breadcrumbs-item:first-child .breadcrumbs-link:before {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -13px;
    content: ' ';
    background: center / contain no-repeat url(../images/home-grey.svg);
    height: 14px;
    width: 15px;
}
.breadcrumbs-item:not(:first-child) {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Кнопки*/
.ui-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #dce0e3;
    font-size: 14px;
    border-radius: 0px;
    transition: all 0.3s ease;
    padding: 2px 10px 2px 10px;
    height: 100%;
}
.yellBtn {
    background: #ffa726;
    text-transform: none;
    color: #fff;
    font-size: 16px;
    border-color: #eea236;
    line-height: 22px;
}  

/*Организация продукта*/
.page-product .btn:hover{
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.page-product h2{
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 600;
}
.page-product .row{
    width: 100%;
}
.page-product .btn-outline-warning{
    border-radius: 0;
}
.page-product .logo-container{
    margin-right:20px;
    margin-bottom: 30px;
}
.page-product .mfo_logo {
    display: block;
    height: auto;
    max-width: 100%;
}
.dv-star-rating i{
    font-style: normal;
}
.mfo-paytype{
    position: relative;
    margin-left: -25px;
}
.separate{
    border-top: 1px solid #dcdfe5;
    padding-top: 15px;
    width: 100%;
}
.credit-calculator-result .separate{
    margin-top:15px;
}
.mfo-paytype:after{
    position: absolute;
    content: "";
    width: 26px;
    height: 18px;
    background: center / contain no-repeat url(../images/hico.svg);
}
.paragraph{
    font-size: 14px;
    position: relative;
    margin-bottom: 8px;
    line-height: 1.5em;
}
.mfo-descr{
    margin-bottom: 13px;
}
.credit-calculator{
    width: 100%;
    margin-bottom: 18px;
}
.credit-calculator-init{
    margin: 0 -30px;
    padding: 0 0 25px;
}
.credit-calculator-result {
    padding: 18px 10px;
    border-radius: 5px;
    border: solid 2px #545ca4;
    width: 100%;
}
.page-product .ui-button{
    height: auto;
}
.material__inputs {
    position: relative;
}
.material__inputs .material__input {
    font-size: 22px;
    padding: 15px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}
.ui-slider{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -12px;
    z-index: auto;
    font-size: 0;
}
.page-product .calc-item p{
    font-size: 14px;
    font-weight: 600;
}

.calc-result{
    margin-top: 15px;
}

input{
    width: 100%;
}
input [type=range] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 22px;
    border-radius: 8px;
}

/*Для хрома*/
.page-product input[type=range]::-webkit-slider-thumb {
box-shadow: 1px 1px 1px #000;
border: 1px solid #000;
height: 16px;
width: 16px;
border-radius: 50%;

cursor: pointer;
-webkit-appearance: none;
margin-top: -10px;
-webkit-appearance: initial;
        background: black;
}
.page-product input[type=range]::-webkit-slider-runnable-track{
height: 3px;
cursor: pointer;
-webkit-appearance: none;
}

/* Полоса в Мозиле */
.page-product input[type="range"]::-moz-range-track {
height: 3px;
cursor: pointer;
}
/* Бегунок в Мозиле */
.page-product input[type="range"]::-moz-range-thumb {
    height: 23px;
    width: 23px;
    background-color: transparent;
    -webkit-appearance: none;
    background:#ffa726;
    --range-color: #ffa726;
    cursor: pointer;
    border-radius: 50%;
}
.material__inputs label {
    color: #7c7e82;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 0;
    font-weight: 400;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.credit-calculator-init .material__inputs label {
    top: -7px;
    font-size: 14px;
    color: #7c7e82;
    text-transform: uppercase;
}
.calc-item .sup {
    font-size: 11px;
    color: #9b9b9b;
}
.calc-item .sub {
    font-size: 20px;
    color: #000000;
}
.page-product .ui-button-link span{
     border-bottom: dotted 1px #545ca4;
}
.page-product .youtube{
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    cursor: pointer;
}
.youtube .play-button {
    position: absolute;
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    cursor: pointer;
}
.youtube .play-button:before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube .play-button, .youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.page-product .youtube img {
    width: 100%;
    top: -16.65%;
    left: 0;
    opacity: 0.7;
}

/*Страница "Кредит наличными"*/
.content-wrap-item {
    border: 1px solid #dcdfe5;
    border-radius: 2px;
    background: #fff;
}
.content-wrap-item .col-12{
    padding-left: 0;
}
.contributions-details-item {
    padding: 15px;
    margin-bottom: 5px;
}
.contributions-page .page-title {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
}
.contributions-page .contributions-details-item .bank-name, .contributions-page .contributions-details-item .bank-name a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px;
}
.contributions-page .contributions-details-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #000;
    padding: 10px 24px 0 0;
}
.contributions-page .reviews-link, .contributions-page .col-reviews {
    font-weight: bold;
    font-size:14px;
}
.contributions-page .reviews-link{
    color: #74777c;
}

.contributions-page .bank-logo {
    width: 70px;
    margin-right: 20px;
    border-radius: 0;
}
.contributions-page .bank-logo .img-wrap img{
    width: 100%;
}
.contributions-page .contributions-details-list-row {
    overflow: hidden;
}
.contributions-page .contributions-details-list-row:nth-child(even) {
    background: #f9f9fa;
}
.contributions-page .contributions-details-list-item {
    padding-top: 11px;
    padding-bottom: 11px;
}
/*Страница "Кредитные карты"*/
.kredit-card__info h4 a{
    color: #000;
    font-size: 14px;
}
.kredit-karta h4{
    margin-bottom: 0;
}
.kredit-card__info p, .kredit-card__infolist .sup {
    color: #939393;
    font-size: 13px;
    font-weight: 400;
}

.kredit-karta .kredit-card__img .card-img {
    background:url(../images/karta_privatbank.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 170px;
    margin-bottom: 15px;
}
.device-list{
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    height: 30px;
    overflow: hidden;
    display: flex;
}

.device-list .android, .device-list .apple, .device-list .chip, .device-list .mastercard {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 25px;
}
.device-list .android{
     background-image: url(../images/android.svg);
}
.device-list .apple{
     background-image: url(../images/apple.svg);
}
.device-list .chip{
     background-image: url(../images/chip.svg);
}
.device-list .mastercard{
     background-image: url(../images/mastercard.svg);
}
.kredit-card__item:nth-child(1){
    padding-left: 0;
}

.value{
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
.kredit-card__advantages {
    margin-top: 15px;
    position: relative;
    list-style: none;
}
.kredit-card__advantages li{
    margin-left: -20px;
    margin-bottom: 8px;
}
.kredit-card__advantages li:before {
    position: absolute;
    content: "\2714";
    left: 0;
    font-size: 9px;
    color: #00aa8c;
}
.kredit-karta .card-butt{
    margin-bottom: 33px;
    text-align: center;
}
.kredit-karta .card-butt a{
    margin-right: 15px;
}
.card-question{
    text-decoration: underline;
}

/*Отзывы*/
.add-comment-block .row {
    width: 100%;
}
.form-element {
    position: relative;
}
.form-element-outlined {
    margin-bottom: 30px;
}
.add-comment-block .col-lg-6{
    padding-left: 15px;
    padding-right: 15px;
}
textarea {
    overflow: auto;
    vertical-align: top;
    background-image: none;
}
.form-textarea {
    display: block;
    padding: 22px 10px 6px;
    width: 100%;
    height: 130px;
    min-height: 130px;
    resize: vertical;
    border: 1px solid #c7ccd6;
    border-radius: 3px;
    font-size: 16px;
}
.form-element__label {
    position: absolute;
    top: 1010px;
    font-size: 14px;
    font-weight: normal;
    color: #7c7e82;
    opacity: 0;
    line-height: 1.1;
    transition: 0.2s ease transform, opacity;
}
.form-element-outlined .form-element__label {
    top: 4px;
    margin-left: 10px;
    opacity: 1;
    font-size: 13px;
    transform: translateY(0);
}
.form-element__control {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 14px 10px 8px 0;
    border: none;
    border-bottom: 2px solid #dcdfe5;
}
.form-element-outlined .form-element__control {
    padding: 22px 10px 6px;
    border: 1px solid #c7ccd6;
    box-shadow: 0 2px 4px 0 rgba(52, 50, 65, 0.08);
    border-radius: 3px;
}
.users-reviews-container {
    margin-top: 5px;
    margin-bottom: 13px;
}
.kredit-nal .users-reviews-container, .kredit-karta .users-reviews-container, .page-product .users-reviews-container{
    padding:15px;
}
.users-reviews-container .flex-row-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}
.users-reviews-container .add-comment-block {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #cbcdd2;
    padding: 20px 0 20px 0;
}
.users-reviews-container .flex-row-head .col{
    flex-grow: 0;
    flex-basis: auto;
    width: auto;
}
.users-reviews-container .flex-row-head h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.users-reviews-container .comment-block-view {
    border-bottom: 1px solid #e9eef1;
    transition: all 600ms;
}
.users-reviews-container .comment-block {
    padding: 10px 0;
}
.users-reviews-container .comment-block .col-12{
    padding-left: 0;
    padding-right: 0;
}
.users-reviews-container .comment-block-view-header .username {
    height: 19px;
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}
.users-reviews-container .comment-block-view-header .data {
    font-size: 12px;
    color: #7c7e82;
}
.users-reviews-container .comment-block-view-comment {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}
.add-btn {
    display: block;
    margin-top: 5px;
    padding: 2px 10px 2px 10px;
    border-radius: 0px;
    text-align: center;
    line-height: 22px;
}
.ui-button:hover:not(:disabled), .add-btn:hover{
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.ui-button-link { 
    border: none;
    color: #545ca4;
    padding: 0;
}
.ui-button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.users-reviews-container .replay-btn {
    text-transform: capitalize;
    text-decoration: underline;
}
.users-reviews-container .comment-block-view-header .replay-btn {
    margin-left: 1em;
    font-size: 14px;
    margin-bottom: 4px;
}
.users-reviews-container .replay-btn:hover{
    background-color: inherit;
    color: #5a7dab;
}
.add-comment-block .yellBtn{
    margin-left: 15px;
}
.ui-button-close {
    margin-left: 10px; 
    color: rgb(203, 205, 210);
}


.hidden-xs {
    display: block !important;
}

/*сайдбар для страниц продуктов и организации*/
.right-sidebar .list-bank-product{
    margin: 0 0 30px 0;
}
.right-sidebar .bank-product{
    padding:5px;
}
.right-sidebar .logo-bank-sidebar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 121px;
    height: 76px;
}
.right-sidebar .bank-product:nth-child(1) .logo-bank-sidebar{
    background-image: url("../images/pumb.png");
}
.right-sidebar .bank-product:nth-child(2) .logo-bank-sidebar{
    background-image: url("../images/otp_logo.png");
}
.right-sidebar .bank-product:nth-child(3) .logo-bank-sidebar{
    background-image: url("../images/raif_logo.png");
}
.right-sidebar .bank-product:nth-child(4) .logo-bank-sidebar{
    background-image: url("../images/alfa_logo.png");
}

.page-mfo .page-title{
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
.page-mfo .mfo-slogan{
    color: #919191;
    text-align: center;
}
.page-mfo .catalog-mfo__head-name{
    text-align: left;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: -4px;
    padding: 0 14px;
}
.page-mfo .catalog-mfo__product{
    border-top: 1px solid #e8eef2;
}
.page-mfo .catalog-mfo__head{
    padding-bottom: 20px;
}
.page-mfo .catalog-mfo__product .catalog-mfo__item{
    font-size: 16px;
    line-height: 1.5;
    margin: 30px 0;
}
.page-mfo .catalog-mfo__product-list{
    margin-right: -15px;
}
.mfo-img {
   background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 140px;
    height: 50px; 
}
.page-mfo .filter-item .btn-result{
    width: 100%
}
.page-mfo .filter-container .filter-item {
    padding-left: 15px;
} 
.catalog-mfo__product-list .catalog-mfo__product:nth-child(1) .mfo-img{
     background-image: url("../images/dinero_mfo.png");
}
.catalog-mfo__product-list .catalog-mfo__product:nth-child(2) .mfo-img{
     background-image: url("../images/miloan_mfo.png");
}
.catalog-mfo__product-list .catalog-mfo__product:nth-child(3) .mfo-img{
     background-image: url("../images/pozika_mfo.png");
}
.catalog-mfo__product-list .catalog-mfo__product:nth-child(4) .mfo-img{
     background-image: url("../images/slon_mfo.png");
}
.catalog-mfo__product-list .catalog-mfo__product:nth-child(5) .mfo-img{
     background-image: url("../images/groshi_mfo.png");
}

.page-mfo .catalog-mfo__product .catalog-mfo__item .num{
    font-weight: 600;
    color: #000;
    font-size: 28px;
    line-height: 38px;
    margin: 0 5px 0 5px;
}
.page-mfo .hint, .page-mfo .list-condition li{
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}
.page-mfo .hint{
    color: #919191;
}
.page-mfo .list-condition li{
    color: #5f5f5f;
}
.page-mfo .list-condition {
    list-style: none;
}
.page-mfo .list-condition li{
    margin-left: -30px;
}
.page-mfo .list-condition li{
    position: relative;
}
.page-mfo .list-condition li:before{
    content: "";
    position: absolute;
    top: 6px;
    left: -8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #c1c1c1;
}
.catalog-mfo__product-list .catalog-mfo__item:last-child{
    text-align: center;
}
.catalog-mfo__product-list .catalog-mfo__item button, .filter-container button{
    color: #fff;
    background: #20bf55;
    text-align: center;
    padding: 0 36px;
    font-size: 16px;
    line-height: 46px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;   
    margin-bottom: 24px; 
}
.catalog-mfo__product-list .catalog-mfo__item button:hover, .filter-container button:hover{
    background: #4dcc77;
    -webkit-box-shadow: 0 4px 8px 0 rgba(29,172,77,.16);
    box-shadow: 0 4px 8px 0 rgba(29,172,77,.16);
    cursor: pointer;
}
.btn-group{
    width: 100%;
    font-size: 14px;
    line-height: 38px;
    color: #5f5f5f;
}
.btn-group .btn-chek{
    padding: 0 12px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    margin: 4px;
}
.btn-group .btn-chek:hover{
    color: #20bf55;
    background: #f4fcf7;
    border-color: #20bf55;
    cursor: pointer;
}
.page-mfo .filter-container{
    margin: 20px -15px 10px -15px;
    border-bottom: 1px solid #f2f2f2;

}
.page-mfo .filter-container label{
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #5f5f5f;
    margin-bottom: 8px;
}
.filter-container .filter-item button{
    margin-top: 15px;
}
.btn-clear-fiter{
    text-align: right;
    color: #252525;
    border-color: #e6e6e6;
    padding: 0;
}
.btn-clear{
    padding: 0 12px;
    font-size: 14px;
    line-height: 38px;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: bold;;
}
/*Для хрома*/

  input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(#1dac4d,#20bf55);
  background: -webkit-gradient(linear,left top,left bottom,from(#1dac4d),to(#20bf55));
 
}

.page-mfo input[type=range]::-webkit-slider-runnable-track{
height: 3px;
cursor: pointer;
-webkit-appearance: none;
background: linear-gradient(#1dac4d,#20bf55);
background: -webkit-gradient(linear,left top,left bottom,from(#1dac4d),to(#20bf55));
}

/* Полоса в Мозиле */
.page-mfo input[type="range"]::-moz-range-track {
height: 3px;
cursor: pointer;
background: linear-gradient(#1dac4d,#20bf55);
}
/* Бегунок в Мозиле */
.page-mfo input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background-color: transparent;
    -webkit-appearance: none;
    background: linear-gradient(#1dac4d,#20bf55);
    --range-color: #ffa726;
    cursor: pointer;
    border-radius: 50%;
}

.filter-container .filter-item input{
    padding: 10px 16px;
}
.filter-container .filter-item .ui-slider-filter input{
    padding: 0px 0px;
}
.filter-container .filter-item input::-webkit-input-placeholder{
    font-size: 24px;
    line-height: 34px;
}
.filter-container .filter-item input:-ms-input-placeholder{
    font-size: 24px;
    line-height: 34px;
  
}
.filter-container .filter-item input:-moz-placeholder{
    font-size: 24px;
    line-height: 34px;
}
.ui-slider-filter{
    margin-top: -15px;
    margin-bottom: 30px;
}
.form-item{
    border: 1px solid #e6e6e6;
}
.btn-clear{
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 13px;
    color: #252525;
    border: 1px solid #e6e6e6;
    background: none;
}
.visible-xs{
    display: none!important;
}
.page-mfo .content-part{
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,.35);
}    
.page-mfo .content-part h2{
    font-size: 18px;
    font-weight: bold;
}
.page-mfo .content-part h3{
    font-size: 16px;
    font-weight: bold;
}
.page-mfo .content-part p {
    margin-bottom: 8px;
}
footer {
	background-color: #f5f5f5;
	height:100%;
	padding-top:15px;
	padding-bottom: 15px;
}


#slider-range-min__interval, #slider-range-min__kredit{
    margin-top: 0px;
    width:100%;
    height:3px;
    border: none;
  }
  /*.ui-widget-header{
    background-image:-webkit-gradient(linear,left,right,color-stop(0,#FFD700),color-stop(1,#FF4500));
    background-image:-o-linear-gradient(left,#FFD700,#FF4500);
    background-image:-moz-linear-gradient(left,#FFD700,#FF4500);
    background-image:-webkit-linear-gradient(left,#FFD700,#FF4500);
    background-image:linear-gradient(to right,#FFD700,#FF4500);
  }*/

  .ui-slider .ui-slider-handle{
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -10px;
    border: none;
    border-radius: 100%;
    cursor: move;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
  }

.page-mfo .ui-widget-header{
    background: -webkit-gradient(linear,left top,left bottom,from(#1dac4d),to(#20bf55));
    background: linear-gradient(#1dac4d,#20bf55);
  }
.page-mfo .ui-state-default, .page-mfo .ui-widget-content .ui-state-default{
    background: -webkit-gradient(linear,left top,left bottom,from(#1dac4d),to(#20bf55));
    background: linear-gradient(#1dac4d,#20bf55);
}
.page-mfo .ui-slider-horizontal .ui-slider-handle{
    top: 0;
}
  .ui-slider .ui-slider-handle:focus{
    outline:none;
    border:0;
  }
  .page-mfo .form-items{
    position: relative;
  }
  .page-mfo .trm-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #000;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


@media (min-width: 1280px){
     .kredit-nal, .kredit-karta, .page-product, .page-mfo{
        max-width: 1310px;
    }
} 

@media (max-width: 1280px){
	.news-main-img .secondary-new:nth-of-type(3), .news-main-img .secondary-new:nth-of-type(4) {
		display: none;
	}
	.container {
	    max-width: 985px;
	    padding-right: 15px;
	    padding-left: 15px;
	}
    .kredit-nal, .kredit-karta, .page-product, .page-mfo{
        max-width: 100%;
    }
    .page-mfo{
        padding-left: 0;
        padding-right: 0;
    }
    .kredit-nal .contributions-page{
        padding-left: 0;
    }
	.main-new{
		min-width: 433px;
	}

	.fin-articles .article{
		height:528px;
	}

	.fin-articles .article .img-article{
		width: 150px;
		height: 100px;
	}
	h4{
		font-size: 18px;
	}
	.fin-articles .first-column{
		margin-right: 15px;
	}
	.news-and-articles .last-news {
    	margin-left: 25px;
    }

    .content-all-page .last-news {
    	display: none;
    }
}

@media (min-width: 1200px)and (max-width: 1280px){
	.secondary-news .col-xl-6, .content-all-page .news-detail, .content-all-page .col-xl-8 {
    	-ms-flex: 0 0 100%;
    	flex: 0 0 100%;
    	max-width: 100%;
	}

}

@media (max-width: 1200px){
	.items-finance .col-xl{
		margin-bottom:20px;
	}	
}
@media screen and (max-width: 1023px){
	.container {
    	width: 770px;
	}
    .kredit-nal, .kredit-karta, .page-product, .page-mfo{
        width: auto;
    }
	.container .news-and-articles .row {
		flex-wrap:wrap-reverse;
	}
	.news-and-articles .last-news {
    	margin-left: 0;
	}
	.fin-articles {
		margin-top:20px;
	}
	.fin-articles .img-article{
		display: none;
	}	
	.fin-articles .article {
    	height: auto;
    	margin:0;
	}
	.container .news-and-articles .fin-articles .row {
		flex-wrap:wrap;
	}
    .all-news .short-post-content, .all-news .short-story-post{
        overflow: visible;
    }
}

@media (min-width: 978px)and (max-width: 1023px){
	.block-news-and-articles .col-lg-6, .block-news-and-articles .fin-articles .col-lg-6, .content-all-page .col-lg-12  {
    	-ms-flex: 0 0 100%;
    	flex: 0 0 100%;
    	max-width: 100%;
	}
}
@media (min-width: 481px)and (max-width: 1023px){
	.secondary-news  {
    	flex-wrap:nowrap!important;
	}
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	    margin-right: 0.9rem;
    	margin-left: 0.9rem;
	}
	.col-lg-6 {
    	-ms-flex: 0 0 48%;
    	flex: 0 0 48%;
	}
}
@media screen and (max-width: 991px){
    .kredit-karta, .page-mfo .contributions-page, .kredit-karta .contributions-page, .page-product, .page-product .contributions-page{
        padding-right: 0;
        padding-left: 0;
    }
    .strong-lg {
        font-weight: 600;
    }
    .page-product .material__inputs {
        margin-bottom: 25px;
    }
    .right-sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 978px)
{
    .btn-group{
        display: none;
    }
}
@media (min-width: 768px)and (max-width: 990px){
    .kredit-nal, .kredit-karta, .page-product{
        flex-direction: column;
    }
    .kredit-nal .contributions-page, .page-product .contributions-page{
        padding-right: 0;
    }
    .list-bank-product{
        display: none;
    }
}
@media (min-width: 768px)and (max-width: 810px){
    .d-md-flex {
        flex-direction: column;
    }
}
@media screen and (max-width: 810px)
{
	.container {
    	width: 100%;
    	padding-left: 20px;
    	padding-right: 20px;
	}
	.fin-articles {
    	display: none;
	}
	.sidebar-block-nomobil{
		display: none;
	}
	.left .main-new {
		min-width: 100%;
	}
	.flex-fixed-width-item {
    	margin-left: 0px;
	}
     .content-all-page .col-lg-12, .content-all-page .col-xl-8{
        padding-right: 0;
    }
    .list-bank-product{
        display: none;
    }
    .kredit-karta, .kredit-karta .contributions-page, .page-product .contributions-page, .page-product, .page-mfo, .page-mfo .contributions-page{
        padding-right: 0;
        padding-left: 0;
    }
    .page-mfo .list-condition li{
        font-size: 13px;
    }
}
@media (max-width: 767px){
     .page-mfo .page-title{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .page-mfo .catalog-mfo__item .hint{
        display: none;
    }
}
@media (max-width: 768px){
    .kredit-nal .contributions-page {
        padding-right: 0;
    }
    .hidden-xs{
        display: none !important;
    }
    .kredit-card__item{
        text-align: center;
    }
    .kredit-karta .kredit-card__img .card-img{
        height: 118px;
    }
    .visible-xs{
        display: block!important;
    }
}
@media (min-width: 640px)
{
    .mfo-slogan {
        font-size: 18px;
        line-height: 24px;
    }
} 
@media (max-width: 640px){
    .page-mfo .mfo-slogan{
        font-size: 18px;
        line-height: 24px;
    }
    .page-mfo .catalog-mfo__product .catalog-mfo__item .num {
        font-size: 24px;
        line-height: 34px;
    }
}   
@media screen and (max-width: 575px){
    .kredit-karta .card-butt a{
        margin-right: 0px;
        margin-bottom: 8px;
    }
}
@media (min-width: 480px)
{
    .mfo-slogan {
        display: block;
        margin-top: 2px;
        font-size: 16px;
        line-height: 20px;
    }    
}
@media screen and (max-width: 480px){
	.navbar{
		padding-right:0;
		padding-left:0;
	}
	.main-new, .secondary-new{
		width: 100% !important;
    	height: 240px !important;
	}
    .all-news .post-img{
        width: 100%;
        height: 150px margin: 0 0 15px 0;
    }
    .all-news .short-post {
        width: 100%;
        height: 150px;
        margin: 0 0 15px 0;
    }
    .contributions-page .contributions-details-text{
        padding-right: 10px;
    }
    .contributions-page .kredit-card__item{
        padding-left: 0;
        padding-right: 0;
    }
    .page-product .sub{
        font-size: 15px;
        white-space: nowrap;
    }
    .page-product .calc-item{
        padding-right: 5px;
        padding-left: 5px;
    }
    .page-product .navbar, .page-kredit-nal .navbar, .page-mfo .navbar, .kredit-karta .navbar {
        margin: 0 15px;
    }
    .page-mfo .mfo-slogan{
        margin-top: 2px;
        font-size: 16px;
        line-height: 20px;
    }
    .catalog-mfo__product .catalog-mfo__item:nth-child(1)  {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        display: flex;
    }
    .catalog-mfo__product .catalog-mfo__item:nth-child(2){
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 100%;
    }
    .catalog-mfo__product .catalog-mfo__item:nth-child(3){
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 100%;
    }    
}
